<?xml version="1.0" encoding="utf-8"?>
<manifest package="arpg.nativesensorinterface"
	  android:installLocation="preferExternal"
	  android:versionCode="1"
	  android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="16" />

    <!-- Allows access to the flashlight -->
    <permission android:name="android.permission.FLASHLIGHT"
                android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
                android:protectionLevel="normal" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-permission android:name="android.permission.INTERNET" /> 
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-feature
      android:glEsVersion="0x00020000"
      android:required="true" />    
  <application
      android:allowBackup="true"
      android:icon="@drawable/rpg_icon"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/AppTheme" >

    <activity
        android:name="arpg.nativesensorinterface.MainActivity"
        android:label="@string/app_name"
	android:screenOrientation="landscape" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
