SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="00f0", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="00f1", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="00f2", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="00f3", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="8613", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="20f7", ATTRS{idProduct}=="30b3", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="20f7", ATTRS{idProduct}=="3000", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="20f7", ATTRS{idProduct}=="3001", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="20f7", ATTRS{idProduct}=="a003", GROUP="video"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="deda", ATTRS{idProduct}=="a003", GROUP="video"
